[user]
	name = Noahyt
	email = Noah.Toyonaga@gmail.com

[core]
	filemode = false
	excludesfile = {{.chezmoi.homeDir}}/.gitignore_global

[ssh]
	postBuffer = 524288000


[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
