{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env zsh

# THIS SCRIPT IS RUN ONCE BY CHEZMOI TO SET UP.

# Antigen (Package manager for `zsh`) 
brew install antigen
{{ else if eq .chezmoi.os "linux" -}}
#!/usr/bin/env zsh

# All tools are installed to `tool_path` which should be specified in `chezmoi.toml`.

# Antigen
ANTIGEN_PATH={{ .tool_path }}antigen
mkdir ${ANTIGEN_PATH}
curl -L git.io/antigen > ${ANTIGEN_PATH}/antigen.zsh

# Install nvim
wget -P {{ .tool_path }}nvim https://github.com/neovim/neovim/releases/download/stable/nvim-linux64.tar.gz
NVIM_TAR='{{ .tool_path -}}nvim/nvim-linux64.tar.gz' 
tar zxvf ${NVIM_TAR} -C {{ .tool_path }}nvim --strip-components=1
rm ${NVIM_TAR}

{{ end -}}

# Install Vundle (package manager for `Vim`).
if [ -e ~/.vim/bundle/Vundle.vim ]
then
	echo "Vundle already installed."
else
	echo "Vundle not found, installing."
	git clone https://github.com/VundleVim/Vundle.vim.git ~/.vim/bundle/Vundle.vim
fi

