####################
### MODIFY PATH ####
####################

{{ if eq .chezmoi.os "linux" -}}

# On cluster these are not managed by a package manager so we need
# to source them manually.

# CHEZMOI
export PATH={{ .tool_path }}chezmoi:${PATH}

# NVIM
export PATH={{ .tool_path }}nvim/bin:${PATH}

{{ end -}}


{{ if .vim_use_python -}}
export VIMPYTHON='{{- .vim_python_path -}}'
{{ end }}


###############
### ALIASES ###
###############

# SHORTCUT-LIKE ALIASES.
# These aliases use non-existing keywords.
alias cm="chezmoi" 

# Shortcut to important folders.
export ABOUT_ME_DIR={{ .about_me_path }}

# Shortcuts to templates.
export MY_TEMPLATES_DIR=${ABOUT_ME_DIR}templates/
export MY_WRITING_TEMPLATE_DIR=${MY_TEMPLATES_DIR}writing/

{{ if eq .chezmoi.os "linux" -}}
# 
export MY_SCRATCH="/n/holyscratch01/mahadevan_lab/ntoyonaga"
export JOB_LOGS="/n/home02/ntoyonaga/job_logs"
export LABSTORE="/n/holylabs/LABS/mahadevan_lab"

alias pbcopy='xsel --clipboard --input'
alias pbpaste='xsel --clipboard --output'

alias myq="squeue -u ntoyonaga"

{{ end -}}

# Go to commands.
alias cdd="cd ~/Documents"

## OVERRIDE ALIASES.
# These aliases change the behaviour of existing functions/pograms.

# Change `mv` to default to check in before overwrite.
alias mv="mv -i"

# Default to use `nvim`.
alias vim="nvim"

#################
### SHORTCUTS ###
#################

export HRC_DATA="/n/holyscratch01/mahadevan_lab/ntoyonaga"
export EDITOR="nvim"
export WRITING="~/Documents/WRITING"

# FOR `zathura`
export DBUS_SESSION_BUS_ADDRESS="unix:path=$DBUS_LAUNCHD_SESSION_BUS_SOCKET"

# FUNCTIONS
hrc_sync () {
	SOURCE_FOLDER=${1}
	DESTINATION_FOLDER=${2}
	echo "sync ${SOURCE_FOLDER} with ${DESTINATION_FOLDER}"
	rsync -avP --update ntoyonaga@login.rc.fas.harvard.edu:/n/holyscratch01/mahadevan_lab/ntoyonaga/${SOURCE_FOLDER} ${DESTINATION_FOLDER}
}


# Create New Latex Document.
new_document () {
	if (( ${#} == 0 )); then
		NEW_NAME=new_article.tex
	elif (( ${#} == 1)); then
		NEW_NAME=${1}
	fi
	print  "creating new document: ${NEW_NAME}.tex"
	cp ${MY_WRITING_TEMPLATE_DIR}basic_article.tex ./${NEW_NAME}.tex 
	cp ${MY_WRITING_TEMPLATE_DIR}preamble.sty ./preamble.sty
}


# DOCUMENTATION.
helpme () {
	cat<<EOF
	### FUNCTIONS ### 

	new_document
		Makes a new Tex document in current folder using the default template (found at ${MY_WRITING_TEMPLATE_DIR}).

	### DOTFILES ###
	To show all dotfiles in a directory:
		 ls -A

	To edit dotfiles: use \`chezmoi\`.
		edit: $ cm edit \$FILE
		apply $ cm apply 
	
	Aliases are located at:
		~/.zsh/custom/aliases.zsh
	
	For further information about dotfile management, see ${ABOUT_ME_DIR}.
	

	### HARVARD ###
	hrc_sync
		to sync with cluster
		usage: $ hrc_sync \$SOURCE_FOLDER \$DESTINATION_FOLDER
		
		note that \$SOURCE_FOLDER should be a directory in \$mahadevan_lab/ntoyonaga (i.e. scratch).
EOF
}
